
.m-colour-picker {
  // border: 1px solid #f00;
  margin-top: 12px;
  position: relative;
  width: 325px;

  &__toggle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 1.5rem;
    outline: 0; // TODO fix this
  }

  &__picker {
    display: none;
    left: 2rem;
    position: absolute;
    top: 0;
  }

  &--open {
    .m-colour-picker__toggle {

    }
    .m-colour-picker__picker {
      display: block;
    }
  }
}
