
.o-output {
  display: flex;
  justify-content: center;

  &__textarea {
    border: 1px solid $colour-mercury;
    border-radius: 3px;
    box-sizing: border-box;
    height: 500px;
    line-height: 1.5;
    padding: 1rem;
    resize: none;
    width: 80%;
  }
}
